<div class="detalhes">
    <h1>#{{detalhesService.pokemon.id}} - {{detalhesService.pokemon.name}}</h1>
    <h2><span class="badge" [ngClass]="detalhesService.pokemon.tipo1">{{detalhesService.pokemon.tipo1}}</span></h2>
    <h2><span class="badge" [ngClass]="detalhesService.pokemon.tipo2">{{detalhesService.pokemon.tipo2}}</span></h2>
        <img [src]="detalhesService.pokemon.url" id="foto" /><br>
        <strong>{{detalhesService.pokemon.statsName1}}</strong>
        <div class="progress" style="margin-bottom: 15px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="detalhesService.pokemon.statsValor1 + '%'" [attr.aria-valuenow]="detalhesService.pokemon.statsValor1" aria-valuemin="0" aria-valuemax="100">{{detalhesService.pokemon.statsValor1}}%</div>
        </div>
        <strong>{{detalhesService.pokemon.statsName2}}</strong>
        <div class="progress" style="margin-bottom: 15px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="detalhesService.pokemon.statsValor2 + '%'" [attr.aria-valuenow]="detalhesService.pokemon.statsValor2" aria-valuemin="0" aria-valuemax="100">{{detalhesService.pokemon.statsValor2}}%</div>
        </div>
        <strong>{{detalhesService.pokemon.statsName3}}</strong>
        <div class="progress" style="margin-bottom: 15px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="detalhesService.pokemon.statsValor3 + '%'" [attr.aria-valuenow]="detalhesService.pokemon.statsValor3" aria-valuemin="0" aria-valuemax="100">{{detalhesService.pokemon.statsValor3}}%</div>
        </div>
        <strong>{{detalhesService.pokemon.statsName4}}</strong>
        <div class="progress" style="margin-bottom: 15px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="detalhesService.pokemon.statsValor4 + '%'" [attr.aria-valuenow]="detalhesService.pokemon.statsValor4" aria-valuemin="0" aria-valuemax="100">{{detalhesService.pokemon.statsValor4}}%</div>
        </div>
        <strong>{{detalhesService.pokemon.statsName5}}</strong>
        <div class="progress" style="margin-bottom: 15px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="detalhesService.pokemon.statsValor5 + '%'" [attr.aria-valuenow]="detalhesService.pokemon.statsValor6" aria-valuemin="0" aria-valuemax="100">{{detalhesService.pokemon.statsValor5}}%</div>
        </div>
        <strong>{{detalhesService.pokemon.statsName6}}</strong>
        <div class="progress" style="margin-bottom: 15px;">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="detalhesService.pokemon.statsValor6 + '%'" [attr.aria-valuenow]="detalhesService.pokemon.statsValor6" aria-valuemin="0" aria-valuemax="100">{{detalhesService.pokemon.statsValor6}}%</div>
        </div>
</div>
	 
	